Repository fauust/docker-systemd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

docker-markdownlint:
  name: Run markdownlint with docker
  entry: markdownlint/markdownlint -r "~MD013"
  language: docker_image

docker-hadolint:
  name: Run hadolint with docker
  language: docker_image
  entry: hadolint/hadolint:latest hadolint

dockerfilelint:
  name: Run dockerfilelint with docker
  language: docker_image
  entry: replicated/dockerfilelint:latest

docker-prettier:
  name: Run prettier with docker
  entry: tmknom/prettier:latest -l
  language: docker_image

docker-lychee:
  name: Run lychee on markdown files with docker
  entry: lycheeverse/lychee
  language: docker_image

Add debian 12 since it's soft freezed
  .github/workflows/build.yml
Due: docker-prettier

Add bookworm to doc
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

New OS and EOL debian9
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Remove EOL os
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Bookworm number tag is now available
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Bump pre-commit linters version
  .pre-commit-config.yaml
Due: docker-prettier

Fedora 36 is EOL
  .github/workflows/build.yml
  Dockerfile.redhat
  README.md
Due: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

Add alpine container for testing
  .github/workflows/build.yml
  .hadolint.yaml
  Dockerfile.alpine
  README.md
Due: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

Standardize Dockerfile
  Dockerfile.alpine
Due: docker-hadolint, dockerfilelint

Add Alpine 3.17
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Fedora 39 is GA
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Add Alpine Linux 3.19
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Add Ubuntu 23.10
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Fedora 37 EOL, add Ubuntu 24.04
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

s
  .github/workflows/build.yml
Due: docker-prettier

Crun is broken on Ubuntu 22.04
  .github/workflows/build.yml
Due: docker-prettier

Fix shield URL
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Bump pre-commit tools
  .pre-commit-config.yaml
Due: docker-prettier

Wrong shields
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Bump pre-commit version
  .pre-commit-config.yaml
Due: docker-prettier

Add fedora 40
  .github/workflows/build.yml
  Dockerfile.redhat
  README.md
Due: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

Keep only LTS ubuntu versions
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Add Alpine Linux 3.20
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Remove buggy arch on fedora
  .github/workflows/build.yml
Due: docker-prettier

Debian 10 is EOL
  .github/workflows/build.yml
  Dockerfile.debian
  README.md
Due: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

Arch are removed from DockerHub
  .github/workflows/build.yml
Due: docker-prettier

Bump pre-commit hooks
  .pre-commit-config.yaml
Due: docker-prettier

Alpine 3.21 is GA
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Fedora 41 is GA
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Fix alpine
  .hadolint.yaml
  Dockerfile.alpine
Due: docker-hadolint, dockerfilelint, docker-prettier

Trigger alpine builds
  .github/workflows/build.yml
Due: docker-prettier

fixup! Fix alpine
  Dockerfile.alpine
Due: docker-hadolint, dockerfilelint

Segfault on ARM
  .github/workflows/build.yml
Due: docker-prettier

Issue closed
  .github/workflows/build.yml
Due: docker-prettier

Path conditions:
  docker-markdownlint: any of: \.(md|markdown|mdown)$
  docker-hadolint: any of: Dockerfile
  dockerfilelint: any of: Dockerfile
  docker-prettier: any of: \.(css|less|scss|graphql|gql|html|js|jsx|json|md|markdown|mdown|mkdn|mdx|ts|tsx|vue|yaml|yml)$
  docker-lychee: any of: \.(md|markdown|mdown)$
