Repository fauust/docker-systemd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-yaml
        name: Check yaml files
      - id: trailing-whitespace
        name: Check trailing whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.0
    hooks:
      - id: yamllint
        name: Check yaml files (yamllint)
  - repo: local
    hooks:
      - id: docker-markdownlint
        name: Run markdownlint with docker
        entry: markdownlint/markdownlint -r "~MD013"
        language: docker_image
        types: [markdown]
      - id: docker-shell-shfmt
        name: Run shfmt with docker
        entry: mvdan/shfmt:v3.2.2 -d -i 2 -ci
        language: docker_image
        types: [shell]
      - id: docker-shell-lint
        name: Run shellcheck with docker
        language: docker_image
        entry: koalaman/shellcheck:stable
        types: [shell]
      - id: docker-hadolint
        name: Run hadolint with docker
        language: docker_image
        entry: hadolint/hadolint:latest hadolint
        files: Dockerfile
      - id: dockerfilelint
        name: Run dockerfilelint with docker
        language: docker_image
        entry: replicated/dockerfilelint:latest
        files: Dockerfile
      - id: docker-prettier
        name: Run prettier with docker
        entry: tmknom/prettier:latest -l
        language: docker_image
        files: "\\.(\
          css|less|scss\
          |graphql|gql\
          |html\
          |js|jsx\
          |json\
          |md|markdown|mdown|mkdn\
          |mdx\
          |ts|tsx\
          |vue\
          |yaml|yml\
          )$"
      - id: docker-lychee
        name: Run lychee on markdown files with docker
        entry: lycheeverse/lychee
        language: docker_image
        types: [markdown]

fixup! Missing doc for latest ubuntu
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

DockerHub does not allow build for free
  hooks/build
  hooks/push
Due: none

Add a schedule build
  .github/workflows/build.yml
Due: docker-prettier

Be nice, only build on monday
  .github/workflows/build.yml
Due: docker-prettier

s Fri 27 Aug 2021 12:52:48 PM CEST
  .github/workflows/build.yml
Due: docker-prettier

s Fri 27 Aug 2021 12:53:44 PM CEST
  .github/workflows/build.yml
Due: docker-prettier

s Fri 27 Aug 2021 12:56:31 PM CEST
  .github/workflows/build.yml
Due: docker-prettier

s Fri 27 Aug 2021 12:59:11 PM CEST
  .github/workflows/build.yml
Due: docker-prettier

s Fri 27 Aug 2021 01:10:36 PM CEST
  .github/workflows/build.yml
Due: docker-prettier

s Fri 27 Aug 2021 01:12:21 PM CEST
  .github/workflows/build.yml
Due: docker-prettier

s Fri 27 Aug 2021 01:14:24 PM CEST
  .github/workflows/build.yml
Due: docker-prettier

Add multi-arch support
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Cleaning not necessary names
  .github/workflows/build.yml
Due: docker-prettier

Add architecture
  .github/workflows/build.yml
  .pre-commit-config.yaml
Due: docker-prettier

Unused variable
  .github/workflows/build.yml
Due: docker-prettier

Add spelling pre-commit
  .pre-commit-config.yaml
Due: docker-prettier

Testing dependabot
  .github/dependabot.yml
Due: docker-prettier

fixup! Testing dependabot
  .github/dependabot.yml
Due: docker-prettier

Push to docker hub on scheduled run
  .github/workflows/build.yml
Due: docker-prettier

Do not cancel other builds
  .github/workflows/build.yml
Due: docker-prettier

Only build LTS ubuntu
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Rename branch master > main
  .github/workflows/build.yml
Due: docker-prettier

fixup! Rename branch master > main
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Upgrade pre-commit
  .pre-commit-config.yaml
Due: docker-prettier

Ubuntu 22.04 released
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Update pre-commit action and versions
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: docker-prettier

Docker token now works
  .github/workflows/build.yml
Due: docker-prettier

fixup! Docker token now works
  .github/workflows/build.yml
Due: docker-prettier

Update pre-commit tools
  .pre-commit-config.yaml
Due: docker-prettier

Ubuntu 21.04 is not a LTS
  .github/workflows/build.yml
Due: docker-prettier

Skip dive check for Debian sid
  .github/workflows/build.yml
Due: docker-prettier

Some architecture are not provided anymore on dockerhub
  .github/workflows/build.yml
Due: docker-prettier

Add redhat based images
  .dive-ci
  .github/workflows/build.yml
  .hadolint.yaml
  Dockerfile.debian
  Dockerfile.redhat
  README.md
Due: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

fixup! Add redhat based images
  .github/workflows/build.yml
  Dockerfile.redhat
Due: docker-hadolint, dockerfilelint, docker-prettier

Use podman for multi-arch build
  .github/workflows/build.yml
Due: docker-prettier

Make images available on both docker.io and ghcr.io
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Create step for local registry push
  .github/workflows/build.yml
Due: docker-prettier

Bump pre-commit tools version
  .pre-commit-config.yaml
Due: docker-prettier

s
  .github/workflows/build.yml
Due: docker-prettier
