Repository fauust/docker-systemd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

docker-markdownlint:
  name: Run markdownlint with docker
  entry: markdownlint/markdownlint -r "~MD013"
  language: docker_image

docker-hadolint:
  name: Run hadolint with docker
  language: docker_image
  entry: hadolint/hadolint:latest hadolint

dockerfilelint:
  name: Run dockerfilelint with docker
  language: docker_image
  entry: replicated/dockerfilelint:latest

docker-prettier:
  name: Run prettier with docker
  entry: tmknom/prettier:latest -l
  language: docker_image

docker-lychee:
  name: Run lychee on markdown files with docker
  entry: lycheeverse/lychee
  language: docker_image

Add debian trixie
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Fedora EOL
  .github/workflows/build.yml
  Dockerfile.redhat
  README.md
Due: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

Add newest alpine release
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Clean EOL versions
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Problematic link
  .lycheeignore
Due: none

Fix path for default openrc files
  Dockerfile.alpine
Due: docker-hadolint, dockerfilelint

Official docker images is old
  .github/workflows/build.yml
Due: docker-prettier

Make hadolint (shellchek) happy
  Dockerfile.alpine
Due: docker-hadolint, dockerfilelint

Add Fedora 42
  .github/workflows/build.yml
Due: docker-prettier

Add Fedora 42
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

s
  .github/workflows/build.yml
Due: docker-prettier

Use quay.io for fedora
  .github/workflows/build.yml
Due: docker-prettier

Trixie available as 13
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Create edge image for ansible testing
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Alpine 3.23 is GA, 3.19 is EOL
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Bump pre-commit tools
  .pre-commit-config.yaml
Due: docker-prettier

Fedora rythm is hard to follow
  .github/workflows/build.yml
  Dockerfile.redhat
  README.md
Due: docker-markdownlint, docker-hadolint, dockerfilelint, docker-prettier, docker-lychee

Add RHEL10 based distro
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Bump pre-commit tools versions
  .pre-commit-config.yaml
Due: docker-prettier

Add Ubuntu 2604
  .github/workflows/build.yml
Due: docker-prettier

Missing doc
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

Add CentOS Stream
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier, docker-lychee

s390x broken on sid for too long
  .github/workflows/build.yml
Due: docker-prettier

Path conditions:
  docker-markdownlint: any of: \.(md|markdown|mdown)$
  docker-hadolint: any of: Dockerfile
  dockerfilelint: any of: Dockerfile
  docker-prettier: any of: \.(css|less|scss|graphql|gql|html|js|jsx|json|md|markdown|mdown|mkdn|mdx|ts|tsx|vue|yaml|yml)$
  docker-lychee: any of: \.(md|markdown|mdown)$
