Repository fauust/docker-systemd: changes, and which pre-commit hooks are due for each by the changed paths.
All: docker-markdownlint, docker-hadolint, docker-prettier

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.3.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-yaml
        name: Check yaml files
      - id: trailing-whitespace
        name: Check trailing whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.25.0
    hooks:
      - id: yamllint
        name: Check yaml files (yamllint)
  - repo: local
    hooks:
      - id: docker-markdownlint
        name: Run markdownlint with docker
        entry: markdownlint/markdownlint -r "~MD013"
        language: docker_image
        types: [markdown]
      - id: docker-shell-shfmt
        name: Run shfmt with docker
        entry: mvdan/shfmt:latest -d -i 2 -ci
        language: docker_image
        types: [shell]
      - id: docker-shell-lint
        name: Run shellcheck with docker
        language: docker_image
        entry: koalaman/shellcheck:stable
        types: [shell]
      - id: docker-hadolint
        name: Run hadolint with docker
        language: docker_image
        entry: hadolint/hadolint:latest hadolint
        files: Dockerfile
      - id: docker-prettier
        name: Run prettier with docker
        entry: tmknom/prettier:latest -l
        language: docker_image
        files: "\\.(\
          css|less|scss\
          |graphql|gql\
          |html\
          |js|jsx\
          |json\
          |md|markdown|mdown|mkdn\
          |mdx\
          |ts|tsx\
          |vue\
          |yaml|yml\
          )$"

Fix build pb
  hooks/build
Due: none

Lint pb
  hooks/build
Due: none

Improve CI
  .dive-ci
  .github/workflows/build.yml
Due: docker-prettier

test
  .builds/build.yml
Due: docker-prettier

test
  .build/build.yml
Due: docker-prettier

test
  .build.yml
Due: docker-prettier

test
  .bb/build
Due: none

Add dockerfile linter
  .dockerfilelintrc
  .pre-commit-config.yaml
Due: docker-prettier

fixup! Add dockerfile linter
  .pre-commit-config.yaml
Due: docker-prettier

Pin shfmt version
  .pre-commit-config.yaml
Due: docker-prettier

Update pre-commit
  .pre-commit-config.yaml
Due: docker-prettier

Typo
  README.md
Due: docker-markdownlint, docker-prettier

new ubuntu release (21.04)
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier

Build for ubuntu 21.04 is broken on Docker Hub
  .github/workflows/build.yml
  hooks/build
Due: docker-prettier

Debian sid is waisting more space
  .dive-ci
Due: none

Bump to latest pre-commit version
  .github/workflows/pre-commit.yml
Due: docker-prettier

Missing /run for dbus systemctl
  Dockerfile
Due: docker-hadolint

Rolling back
  Dockerfile
Due: docker-hadolint

Fix typo in README
  README.md
Due: docker-markdownlint, docker-prettier

Docker Hub build ubuntu 21.04 ?
  .github/workflows/build.yml
Due: docker-prettier

Rollback: dockerhub refuse to build ubuntu 21.04 ATM
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier

Add new Debian stable version (bullseye)
  .github/workflows/build.yml
  README.md
Due: docker-markdownlint, docker-prettier

Push images to docker hub
  .github/workflows/build.yml
Due: docker-prettier

fixup! Push images to docker hub
  .github/workflows/build.yml
Due: docker-prettier

Render CI more dynamic
  .github/workflows/build.yml
Due: docker-prettier

Add latest Ubuntu stable
  .github/workflows/build.yml
Due: docker-prettier

fixup! Add latest Ubuntu stable
  README.md
Due: docker-markdownlint, docker-prettier

Typo
  .github/workflows/build.yml
Due: docker-prettier

Build now reside on GH actions
  README.md
Due: docker-markdownlint, docker-prettier

Missing doc for latest ubuntu
  README.md
Due: docker-markdownlint, docker-prettier
